    <p-card [style]="{ width: '25rem', overflow: 'hidden' }">
        <ng-template #header>
             <!-- display images -->
             <p-galleria [value]="images" [numVisible]="5" 
                         [circular]="true" [showItemNavigators]="images.length > 1? true: false" 
                         [showThumbnails]="false" [showIndicators]="false" 
                         [containerStyle]="{ 'max-width': '640px' }">
                 <ng-template #item let-item>
                     <img [src]="item.src" style="width: 100%; display: block;" />
                 </ng-template>
             </p-galleria>
        </ng-template>
        <ng-template #title>
            <div style="display: flex; align-items: center;">
                <span style="flex-grow: 1;" class="place" (click)="goToLocation()">{{showPost.name}} </span>
                <!-- bookmark -->
                 @if (isSaved$ | async) {
                    <img style="cursor: pointer; width: 25px;" (click)="toggleLike()" src="/svg/bookmark-svgrepo-com.svg">
                 }
                 @else {
                    <img style="cursor: pointer; width: 25px;" (click)="toggleLike()" src="/svg/bookmark-plus-svgrepo-com.svg">
                 }
            </div>
        </ng-template>
        <ng-template #subtitle> {{showPost.address}} <br> {{showPost.area}}</ng-template>
        <p-rating [ngModel]="showPost.rating" [readonly]="true" />
        <!-- to change to username -->
        <p><span class="profile" (click)="goToUserProfile()">&#64;{{showPost.displayName}}</span> says:</p>
        <p>
            {{showPost.review}}
        </p>
        <ng-template #footer>
            <div class="flex gap-4 mt-1 justify-content-between align-items-center">
                <p-button (onClick)="goBack()" severity="secondary" [outlined]="true" label="Back">
                    <ng-template pTemplate="icon">
                        <img width="20px" src="/svg/back-svgrepo-com.svg">
                    </ng-template>
                </p-button>
                <p class="m-0">{{showPost.postDate | date: 'MMMM d, yyyy' }}</p>
                @if (isOwner) {
                    <div style="display: flex; justify-content: flex-end;">
                        <img style="cursor: pointer; width: 20px; margin-left: 8px;" (click)="editPost()" src="/svg/edit-icon.svg">
                    </div>
                }
            </div>
        </ng-template>
    </p-card>