    <p-card [style]="{ width: '25rem', overflow: 'hidden' }">
        <ng-template #header>
             <!-- display images -->
             <p-galleria [value]="images" [numVisible]="5" 
                         [circular]="true" [showItemNavigators]="images.length > 1? true: false" 
                         [showThumbnails]="false" [showIndicators]="false" 
                         [containerStyle]="{ 'max-width': '640px' }">
                 <ng-template #item let-item>
                     <img [src]="item.src" style="width: 100%; display: block;" />
                 </ng-template>
             </p-galleria>
        </ng-template>
        <ng-template #title>
            <div style="display: flex; align-items: center;">
                <span style="flex-grow: 1;">{{showPost.name}} </span>
                <!-- bookmark -->
                 @if (isSaved) {
                    <img style="cursor: pointer; width: 25px;" (click)="unsave()" src="/bookmark-svgrepo-com.svg">
                 }
                 @else {
                    <img style="cursor: pointer; width: 25px;" (click)="save()" src="/bookmark-plus-svgrepo-com.svg">
                 }
            </div>
        </ng-template>
        <ng-template #subtitle> {{showPost.address}} <br> {{showPost.area}}</ng-template>
        <p-rating [ngModel]="showPost.rating" [readonly]="true" />
        <!-- to change to username -->
        <p>{{showPost.displayName}} says:</p>
        <p>
            {{showPost.review}}
        </p>
        <ng-template #footer>
            <p>{{showPost.postDate | date: 'MMMM d, yyyy' }}</p>
            <div class="flex gap-4 mt-1">
                <p-button label="Cancel" severity="secondary" class="w-full" [outlined]="true" styleClass="w-full" />
                <p-button label="Save" class="w-full" styleClass="w-full" />
            </div>
            <div style="display: flex; justify-content: flex-end;">
                <img style="cursor: pointer; width: 20px; margin-left: 8px;" (click)="editPost()" src="/edit-icon.svg">
              </div>
        </ng-template>
    </p-card>