<div class="map-container flex">
    <google-map [options]="options" [center]="center">
        @for (marker of mapInfo; let idx = $index; track idx) {
            <map-advanced-marker 
                #pin="mapAdvancedMarker" 
                [position]="marker.coords" 
                (mapClick)="openInfoWindow(pin, idx)">
            </map-advanced-marker>
            <map-info-window></map-info-window>
        }
    </google-map>
    <!-- <button (click)="getLocation()">Geolocate</button> -->
</div>

 