<!-- <app-map></app-map> -->
<!-- <app-login></app-login> -->
<!-- <app-new-post></app-new-post> -->
 {{(message$ | async)?.notification?.title }}
 {{(message$ | async)?.notification?.body }}
 <p-toast key="tc" position="top-center"/>

 <div class="card">
    <p-menubar [model]="items">
        <ng-template #start [routerLink]="['/home']">
            <img src="/CiakWhere.svg" width="50px">
            <p style="color: black;">ChiakWhere?<p>
        </ng-template>
        <ng-template #item let-item let-root="root">
            <a [routerLink]="item.route" pRipple class="flex items-center p-menubar-item-link">
                <img [src]="item.icon" width="20px">
                <span>{{ item.label }}</span>
            </a>
        </ng-template>
        <ng-template #end>
            <div class="flex items-center gap-2">
                <input type="text" pInputText placeholder="Search" class="w-36" />
                <!-- <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" /> -->
            </div>
        </ng-template>
    </p-menubar>
</div>

 <div class="main-layout">
    <router-outlet></router-outlet>
 </div>