
 <p-toast key="tr" position="top-right"/>

 <div class="card">
    <p-menubar [model]="items">
        <ng-template #start>
            <img src="/svg/CiakWhere.svg" width="50px">
            <p style="color: black;">ChiakWhere?<p>
        </ng-template>
        <ng-template #item let-item let-root="root">
            <a [routerLink]="item.route" pRipple class="flex items-center p-menubar-item-link">
                <img [src]="item.icon" width="20px">
                <span>{{ item.label }}</span>
            </a>
        </ng-template>

        <!-- <ng-template #end>
            @if (isAuthenticated) {
                <div class="flex items-center gap-2">
                    <input type="text" pInputText placeholder="Search" class="w-36" />
                </div>
            }
        </ng-template> -->
    </p-menubar>
</div>

 <div class="main-layout">
    <router-outlet></router-outlet>
 </div>