<p>login works!</p>

<div class="flex justify-content-center">
    <p-card header="Login" [style]="{ width: '25rem', overflow: 'hidden' }">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="field">
                <p-floatlabel variant="on">
                    <input pInputText class="w-full" id="email" formControlName="email" autocomplete="off" />
                    <label for="email">Email</label>
                </p-floatlabel>
            </div>
            <div class="field">
                <p-floatlabel variant="on">
                    <input pInputText class="w-full" id="password" formControlName="password" autocomplete="off" />
                    <label for="password">Password</label>
                </p-floatlabel>
            </div>
            <div>
                <p-button type="submit" label="Sign in" />
            </div>
        </form>
    </p-card>
</div>