<p>new-post works!</p>

<p-card header="New Post" class="flex">
    @if (images.length) {
        <div class="flex">
            <p-galleria [value]="images" [numVisible]="5" 
                        [circular]="false" [showItemNavigators]="true" 
                        [showThumbnails]="false" [showIndicators]="true" 
                        [containerStyle]="{ 'max-width': '640px' }"
                        >
                <ng-template #item let-item let-i="index" >
                    <img [src]="item.src" style="width: 100%; display: block;" />
                    <div style="position: absolute; top: 10px; right: 10px;">
                        <a (click)="removeImage(i)" style="cursor:pointer;">
                            <img src="/cross-small-svgrepo-com.svg" height="30px">
                        </a>
                    </div>
                </ng-template>
            </p-galleria>
        </div>
    } 
    @else {
        <!-- upload pictures -->
        <div class="card flex justify-center">
            <p-button (onClick)="selectFiles()">
                Upload pictures
                <input id="fileInput" type="file" multiple (change)="onFileChange($event)" accept="image/png, image/jpeg">
            </p-button>
        </div>
        @if (fileError) {
            <p style="color: red;">{{fileError}}</p>
        }
    }
    <!-- google autocomplete places -->
    <div class="field w-full md:w-56">
        <app-autocomplete (placeSelected)="getPlaceDetails($event)"></app-autocomplete>
    </div>
    <form [formGroup]="form">
        <!-- area select -->
        <div class="field w-full md:w-56">
            <p-floatlabel variant="on">
                <!-- using the ngModel to allow float label to work properly -->
                <p-select inputId="on_label" [options]="areas" [ngModel]="selectedArea" styleClass="w-full" formControlName="area"/>
                <label for="on_label">Area</label>
            </p-floatlabel>
        </div>
        <!-- rating -->
        <div class="field">
            <label for="rating">Rating</label>
            <p-rating id="rating" formControlName="rating" />
        </div>
        <!-- review text area -->
        <div class="field">
            <p-floatlabel variant="on">
                <textarea pTextarea id="over_label" rows="5" cols="45" style="resize: none" class="h-full" formControlName="review"></textarea>
                <label for="on_label">Your thoughts...</label>
            </p-floatlabel>
        </div>
        <p-button [disabled]="postInvalid()" (click)="upload()">Post</p-button>
    </form>
</p-card>